node_red/flows.json
[
    {
        "id": "1e59d6a3e5a88154",
        "type": "tab",
        "label": "LOLIN_Thermo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "af55de1cad2f4bbc",
        "type": "tab",
        "label": "LOLIN_D1_MINI_01_TECH",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2315a25ba0acaef8",
        "type": "tab",
        "label": "LOLIN_D1_MINI_02_IZBA",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "0e745f397e5b7cec",
        "type": "mqtt-broker",
        "name": "Pihol broker",
        "broker": "192.168.241.111",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "b9eab409d5cf2da1",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "fixed",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true,
        "allowInstall": false
    },
    {
        "id": "4b1b44b1246133af",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "148a611776ecc792",
        "type": "ui-page",
        "name": "Hall",
        "ui": "b9eab409d5cf2da1",
        "path": "/LOLIN",
        "icon": "home",
        "layout": "grid",
        "theme": "4b1b44b1246133af",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "9"
            }
        ],
        "order": 2,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "9a3a1f181c9b4cfe",
        "type": "ui-group",
        "name": "Sensor: Hall",
        "page": "148a611776ecc792",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1a463d669d42977d",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "iot_data",
        "name": "iot_data DB",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "1.x",
        "url": "http://localhost:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "e5eeb32abd849f63",
        "type": "ui-page",
        "name": "Tech.Room",
        "ui": "b9eab409d5cf2da1",
        "path": "/LOLIN_MINI",
        "icon": "home",
        "layout": "grid",
        "theme": "4b1b44b1246133af",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "9"
            }
        ],
        "order": 3,
        "className": "",
        "visible": true,
        "disabled": false
    },
    {
        "id": "65780af9cfdc3e55",
        "type": "ui-group",
        "name": "Sensor: Technical room",
        "page": "e5eeb32abd849f63",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "1cb10ae0084b32dc",
        "type": "ui-page",
        "name": "Ext.Room",
        "ui": "b9eab409d5cf2da1",
        "path": "/page3",
        "icon": "home",
        "layout": "grid",
        "theme": "4b1b44b1246133af",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "9"
            }
        ],
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "1d84460e5bc444a5",
        "type": "ui-group",
        "name": "Sensor: Extension room",
        "page": "1cb10ae0084b32dc",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a9f598f3b07cf20d",
        "type": "ui-page",
        "name": "Summary",
        "ui": "b9eab409d5cf2da1",
        "path": "/page4",
        "icon": "home",
        "layout": "grid",
        "theme": "4b1b44b1246133af",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "0a3152a272d77c65",
        "type": "ui-group",
        "name": "Summary",
        "page": "a9f598f3b07cf20d",
        "width": "2",
        "height": "4",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "413ee3f157bcc7bf",
        "type": "ui-theme",
        "name": "MyDarkTheme 2",
        "colors": {
            "surface": "#121212",
            "primary": "#bb86fc",
            "bgPage": "#310000",
            "groupBg": "#181818",
            "groupOutline": "#2c2c2c"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "ca376d73ba541abe",
        "type": "mqtt in",
        "z": "1e59d6a3e5a88154",
        "name": "Temperature",
        "topic": "home/thermometer/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 120,
        "wires": [
            [
                "3f4cb1d22bd0dfe4",
                "a36dc8e6f83690ab"
            ]
        ]
    },
    {
        "id": "3f4cb1d22bd0dfe4",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "TmprValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 120,
        "wires": [
            [
                "fb820ddf08dc2cae",
                "4fa6ad5dbe65ef9f",
                "8170ac4f122f046e",
                "036e70fe15dbc408"
            ]
        ]
    },
    {
        "id": "fb820ddf08dc2cae",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "20 to 1",
        "property": "payload",
        "action": "mean",
        "count": "20",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 610,
        "y": 200,
        "wires": [
            [
                "2255909e335cb6f2"
            ]
        ]
    },
    {
        "id": "4fa6ad5dbe65ef9f",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "60 to 1",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 610,
        "y": 280,
        "wires": [
            [
                "bedc96ec3733c676"
            ]
        ]
    },
    {
        "id": "8170ac4f122f046e",
        "type": "ui-text",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "Temperature",
        "label": "Tmpr [C]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1110,
        "y": 120,
        "wires": []
    },
    {
        "id": "2255909e335cb6f2",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 200,
        "wires": [
            [
                "cb33d2ad43452282"
            ]
        ]
    },
    {
        "id": "cb33d2ad43452282",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 6 hours",
        "label": "Temperature [C] per 6 hours",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "6",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1110,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "bedc96ec3733c676",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "3fd336a0bb5520a0"
            ]
        ]
    },
    {
        "id": "3fd336a0bb5520a0",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 24 hours",
        "label": "Temperature [C] per 24 hours",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1120,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4bb2c5943184f3be",
        "type": "mqtt in",
        "z": "1e59d6a3e5a88154",
        "name": "Humidity",
        "topic": "home/thermometer/humidity",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 420,
        "wires": [
            [
                "98afe43557ae7cc1",
                "a36dc8e6f83690ab"
            ]
        ]
    },
    {
        "id": "98afe43557ae7cc1",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "TmprValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 420,
        "wires": [
            [
                "49b889d688c93d53",
                "3fe8d3f388db0bf8",
                "e70232336cd01e87"
            ]
        ]
    },
    {
        "id": "49b889d688c93d53",
        "type": "ui-text",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "Humidity",
        "label": "Humi [%]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1100,
        "y": 420,
        "wires": []
    },
    {
        "id": "3fe8d3f388db0bf8",
        "type": "smooth",
        "z": "1e59d6a3e5a88154",
        "name": "60 to 1",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "2117bf5fbf678b14"
            ]
        ]
    },
    {
        "id": "487b2b9faa3e4410",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Humi 24 hours",
        "label": "Humidity [%] per 24 hours",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1120,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "2117bf5fbf678b14",
        "type": "change",
        "z": "1e59d6a3e5a88154",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 500,
        "wires": [
            [
                "487b2b9faa3e4410"
            ]
        ]
    },
    {
        "id": "8807db686d3c576c",
        "type": "influxdb in",
        "z": "1e59d6a3e5a88154",
        "influxdb": "1a463d669d42977d",
        "name": "Tmpr DB 7day",
        "query": "SELECT mean(\"temperature\") \nFROM \"environment\" \nWHERE \"device\" = 'home/thermometer/hall' \n  AND time > now() - 7d \nGROUP BY time(30m) \nfill(null) \ntz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 640,
        "y": 800,
        "wires": [
            [
                "206d0696680d871d"
            ]
        ]
    },
    {
        "id": "206d0696680d871d",
        "type": "function",
        "z": "1e59d6a3e5a88154",
        "name": "Tmpr IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"temperature\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n * {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":21.964823529411788},\n * {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":21.859259259259243},\n * {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":21.799594594594634},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Temperature\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":21.965},\n *      {\"x\":1762716600000,\"y\":21.859},\n *      {\"x\":1762718400000,\"y\":21.8},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload\nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Temperature\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Timestamp in mili-sec\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 800,
        "wires": [
            [
                "fa6bc264411495fa"
            ]
        ]
    },
    {
        "id": "fa6bc264411495fa",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 7 days (DB)",
        "label": "Temperature [C] per 7 days (from DB)",
        "order": 7,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "a36dc8e6f83690ab",
        "type": "join",
        "z": "1e59d6a3e5a88154",
        "name": "Joint T and H",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 380,
        "y": 600,
        "wires": [
            [
                "e51320babcb90c4d"
            ]
        ]
    },
    {
        "id": "e51320babcb90c4d",
        "type": "function",
        "z": "1e59d6a3e5a88154",
        "name": "MQTT to InfluxDB",
        "func": "/*\n * Input MQTT message format (msg.payload):\n * -----------------------------------------\n * {\n *   \"home/thermometer/temperature\":\n *      {\n *          \"value\":24.06, \n *          \"unit\":\"C\"\n *      },\n *   \"home/thermometer/humidity\":\n *      {\n *          \"value\":64.98,\n *          \"unit\":\"%\"\n *      }\n * }\n * \n * Output message format (InfluxDB):\n * -----------------------------------------\n * msg.measurement = measurementName;\n * msg.payload = \n * [\n *      { fields },\n *      { tags   }\n * ];\n */\n\nconst payloadIn = msg.payload;\n\n/* Define field and tag names */\nconst measurementName = \"environment\";\nconst tempTopic = \"home/thermometer/temperature\";\nconst humiTopic = \"home/thermometer/humidity\";\nconst deviceTag = \"home/thermometer/hall\";\n\n// Helper function to safely extract the 'value' field and convert it to a float.\nfunction extractAndParse(topic) {\n    const data = payloadIn[topic];\n\n    // 1. Check if the object for the topic exists\n    if (!data || data.value === null || data.value === undefined) {\n        // If data is missing or value is null/undefined, return null\n        return null;\n    }\n\n    // 2. Access the nested 'value' key and attempt conversion\n    const value = data.value;\n    \n    // parseFloat is usually safe, but check for non-numeric input for robustness\n    if (typeof value === 'number') {\n        return value;\n    }\n    \n    const result = parseFloat(value);\n    \n    // Check if the result is NaN (Not a Number)\n    if (isNaN(result)) {\n        node.warn(`Warning: Could not parse numeric value for topic: ${topic}. Value was: ${value}`);\n        return null;\n    }\n    \n    return result;\n}\n\n// Structure for writing to InfluxDB\nmsg.measurement = measurementName;\nmsg.payload = [\n    {\n        // Correct access path: payloadIn[topic].value\n        temperature: extractAndParse(tempTopic),\n        humidity: extractAndParse(humiTopic)\n    },\n    {\n        device: deviceTag\n    }\n];\n\n// Log the final payload for debugging. Check the Node-RED debug tab.\n// node.warn(JSON.stringify(msg.payload));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 600,
        "wires": [
            [
                "bd2b0631ae74aa73"
            ]
        ]
    },
    {
        "id": "bd2b0631ae74aa73",
        "type": "influxdb out",
        "z": "1e59d6a3e5a88154",
        "influxdb": "1a463d669d42977d",
        "name": "InfluxDB iot_data 2",
        "measurement": "",
        "precision": "ms",
        "retentionPolicy": "one_month",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 890,
        "y": 600,
        "wires": [],
        "info": "Field 'measurment' is KEY to database. \r\nIn this case, the 'measurement' value is in msg paload:\r\n\r\ne.g.:\r\n[\r\n{\"temperature\":22.1,\"humidity\":70.8},\r\n{\"device\":\"home/thermometer/hall\"}\r\n]\r\n\r\ncode:\r\n\r\nmsg.measurement = measurementName;\r\nmsg.payload = [\r\n    {\r\n        // Correct access path: payloadIn[topic].value\r\n        temperature: extractAndParse(tempTopic),\r\n        humidity: extractAndParse(humTopic)\r\n    },\r\n    {\r\n        device: deviceTag\r\n    }\r\n];\r\n\r\n\r\ninflux\r\nUSE iot_data\r\nSELECT * FROM environment ORDER BY time DESC LIMIT 10\r\n\r\nwhere 'environment' is from msg.measurement\r\n\r\n---\r\n\r\nfor check on Mosquito:\r\nmosquitto_sub -h localhost -t \"home/#\" -v\r\n\r\n"
    },
    {
        "id": "9f91318068d9d9eb",
        "type": "influxdb in",
        "z": "1e59d6a3e5a88154",
        "influxdb": "1a463d669d42977d",
        "name": "Humi DB 7day",
        "query": "SELECT mean(\"humidity\") \nFROM \"environment\" \nWHERE \"device\" = 'home/thermometer/hall' \n  AND time > now() - 7d \nGROUP BY time(30m) \nfill(null) \ntz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 640,
        "y": 880,
        "wires": [
            [
                "ba72ca10259694b3"
            ]
        ]
    },
    {
        "id": "ba72ca10259694b3",
        "type": "function",
        "z": "1e59d6a3e5a88154",
        "name": "Humi IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"humidity\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n *  {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n *  {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n *  {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":72.38141176470586},\n *  {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":72.39245791245794},\n *  {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":72.10246621621624},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Humidity\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":72.381},\n *      {\"x\":1762716600000,\"y\":72.392},\n *      {\"x\":1762718400000,\"y\":72.102},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload                                  \nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Humidity\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Časová značka musí byť v milisekundách\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName                      \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 880,
        "wires": [
            [
                "2ae42b238470f622"
            ]
        ]
    },
    {
        "id": "2ae42b238470f622",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Humi 7 days (DB)",
        "label": "Humidity [%] per 7 days (from DB)",
        "order": 8,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 880,
        "wires": [
            []
        ]
    },
    {
        "id": "055803a80ac55882",
        "type": "inject",
        "z": "1e59d6a3e5a88154",
        "name": "Request to DB",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "240",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ReadDdata",
        "payloadType": "str",
        "x": 160,
        "y": 800,
        "wires": [
            [
                "8807db686d3c576c",
                "9f91318068d9d9eb",
                "8e04d9a9d52cdcc8"
            ]
        ],
        "info": "## Description: \r\nTrigger request to DB with 1min cycle\r\n\r\n## Note: \r\nmsg.payload = (String)\"ReadDdata\" - is not relevant, it is ignored by next node (DB)."
    },
    {
        "id": "25dbacc4d6702c50",
        "type": "comment",
        "z": "1e59d6a3e5a88154",
        "name": "Points in chart",
        "info": "# Chart - number of points in chart\n\n## number of measurements on the sensor\ndefine LOOP_TIME 6000\nOne measurement per 6sec => for 60sec is executed 10 measurements. \n60/6 = 10 measurements per minute (10/1min)\n\nPoint Reduction:\n\n Time  |  Agregation   |          Points in chart\n 6 hod | 20:  1m/2min  | (1/2)/1min x 60min x 6hod  = 180\n24 hod | 60:  1m/6min  | (1/6)/1min x 60min x 24hod = 240\n 3 dni | 200: 1m/20min |  3/1hod x 72               = 216\n 7 dni | 300: 1m/30min |  2/1hod x 168              = 336\n\n180+240+240 = 660 points in chart ( RAM must be used ).",
        "x": 1110,
        "y": 60,
        "wires": []
    },
    {
        "id": "8e04d9a9d52cdcc8",
        "type": "influxdb in",
        "z": "1e59d6a3e5a88154",
        "influxdb": "1a463d669d42977d",
        "name": "Tmpr DB 3day",
        "query": "SELECT mean(\"temperature\") \nFROM \"environment\" \nWHERE \"device\" = 'home/thermometer/hall' \n  AND time > now() - 3d \nGROUP BY time(20m) \nfill(null) \ntz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 640,
        "y": 720,
        "wires": [
            [
                "bdc5b524643b8c1b"
            ]
        ],
        "info": "Ak chcete oddeliť dáta a zobraziť priemernú teplotu len pre senzor v hale, \r\nmusíte do dopytu pridať podmienku WHERE s identifikátorom zariadenia.\r\n\r\nTu je upravený príkaz:\r\nSQL\r\n\r\nSELECT mean(\"temperature\") \r\nFROM \"environment\" \r\nWHERE \"device\" = 'home/thermometer/hall' \r\n  AND time > now() - 3d \r\nGROUP BY time(20m) \r\nfill(null) \r\ntz('Europe/Bratislava')\r\n\r\nČo sa zmenilo?\r\n    -Pridal som podmienku \"device\" = 'home/thermometer/hall'.\r\n    -V InfluxDB sa táto podmienka spája s časovým rozsahom pomocou operátora AND.\r\n    -Dôležité je použiť jednoduché úvodzovky (') pre hodnotu tagu (názov zariadenia) \r\n    a dvojité úvodzovky (\") pre názvy polí a tagov (device, temperature), \r\n    ak obsahujú špeciálne znaky."
    },
    {
        "id": "bdc5b524643b8c1b",
        "type": "function",
        "z": "1e59d6a3e5a88154",
        "name": "Tmpr IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"temperature\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n * {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":21.964823529411788},\n * {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":21.859259259259243},\n * {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":21.799594594594634},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Temperature\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":21.965},\n *      {\"x\":1762716600000,\"y\":21.859},\n *      {\"x\":1762718400000,\"y\":21.8},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload\nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Temperature\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Timestamp in mili-sec\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 720,
        "wires": [
            [
                "c381fe1c93ca33df"
            ]
        ]
    },
    {
        "id": "c381fe1c93ca33df",
        "type": "ui-chart",
        "z": "1e59d6a3e5a88154",
        "group": "9a3a1f181c9b4cfe",
        "name": "Tmpr 3 days (DB)",
        "label": "Temperature [C] per 3 days (from DB)",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "3",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "036e70fe15dbc408",
        "type": "ui-text",
        "z": "1e59d6a3e5a88154",
        "group": "0a3152a272d77c65",
        "order": 3,
        "width": "1",
        "height": "1",
        "name": "Summ.Temp",
        "label": "Thal [C]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1230,
        "y": 100,
        "wires": []
    },
    {
        "id": "e70232336cd01e87",
        "type": "ui-text",
        "z": "1e59d6a3e5a88154",
        "group": "0a3152a272d77c65",
        "order": 4,
        "width": "1",
        "height": "1",
        "name": "Summ.Humi",
        "label": "Hhal [%]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1210,
        "y": 400,
        "wires": []
    },
    {
        "id": "b17ccb13a9e08781",
        "type": "mqtt in",
        "z": "af55de1cad2f4bbc",
        "name": "Technical Room OutTmpr",
        "topic": "home/technicalRoom/outdoor/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 100,
        "wires": [
            [
                "dbfccd25c708febf",
                "d419c0c5ce73ad48"
            ]
        ]
    },
    {
        "id": "dbfccd25c708febf",
        "type": "change",
        "z": "af55de1cad2f4bbc",
        "name": "TmprValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 100,
        "wires": [
            [
                "9eb2e3b0f714d72b",
                "922df0a448c41ad3",
                "301ada571c81a4f3"
            ]
        ]
    },
    {
        "id": "9eb2e3b0f714d72b",
        "type": "smooth",
        "z": "af55de1cad2f4bbc",
        "name": "60 to 1",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 630,
        "y": 160,
        "wires": [
            [
                "dfeab2d93b6b64c6"
            ]
        ]
    },
    {
        "id": "dfeab2d93b6b64c6",
        "type": "change",
        "z": "af55de1cad2f4bbc",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 160,
        "wires": [
            [
                "8f592ad7ddaa67a3"
            ]
        ]
    },
    {
        "id": "8f592ad7ddaa67a3",
        "type": "ui-chart",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "name": "Out.Tmpr 24 hours",
        "label": "Tout [C] per 24 hours",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1110,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "922df0a448c41ad3",
        "type": "ui-text",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "Out.Tmpr",
        "label": "Tout [C]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1080,
        "y": 100,
        "wires": []
    },
    {
        "id": "b9f62a3a0ddedc9b",
        "type": "mqtt in",
        "z": "af55de1cad2f4bbc",
        "name": "Technical Room OutHumi",
        "topic": "home/technicalRoom/outdoor/humidity",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 130,
        "y": 220,
        "wires": [
            [
                "6f5481fe06d91848",
                "d419c0c5ce73ad48"
            ]
        ]
    },
    {
        "id": "6f5481fe06d91848",
        "type": "change",
        "z": "af55de1cad2f4bbc",
        "name": "HumiValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 410,
        "y": 220,
        "wires": [
            [
                "4f52241b9cb8ba0e",
                "cea9e5aa7500fb9e",
                "a418a4b871b79597"
            ]
        ]
    },
    {
        "id": "4f52241b9cb8ba0e",
        "type": "ui-text",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "Out.Humi",
        "label": "Hout [%]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1080,
        "y": 220,
        "wires": []
    },
    {
        "id": "cea9e5aa7500fb9e",
        "type": "smooth",
        "z": "af55de1cad2f4bbc",
        "name": "60 to 1",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 630,
        "y": 280,
        "wires": [
            [
                "0317ffec469ae1b8"
            ]
        ]
    },
    {
        "id": "35f6286dc1676c14",
        "type": "ui-chart",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "name": "Out.Humi 24 hours",
        "label": "Hout [%] per 24 hours",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1110,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "0317ffec469ae1b8",
        "type": "change",
        "z": "af55de1cad2f4bbc",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "35f6286dc1676c14"
            ]
        ]
    },
    {
        "id": "d419c0c5ce73ad48",
        "type": "join",
        "z": "af55de1cad2f4bbc",
        "name": "Joint T and H",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 440,
        "y": 340,
        "wires": [
            [
                "9b5c1c543afad151"
            ]
        ]
    },
    {
        "id": "9b5c1c543afad151",
        "type": "function",
        "z": "af55de1cad2f4bbc",
        "name": "MQTT to InfluxDB",
        "func": "/*\n * Input MQTT message format (msg.payload):\n * -----------------------------------------\n * {\n *   \"home/thermometer/temperature\":\n *      {\n *          \"value\":24.06, \n *          \"unit\":\"C\"\n *      },\n *   \"home/thermometer/humidity\":\n *      {\n *          \"value\":64.98,\n *          \"unit\":\"%\"\n *      }\n * }\n * \n * Output message format (InfluxDB):\n * -----------------------------------------\n * msg.measurement = measurementName;\n * msg.payload = \n * [\n *      { fields },\n *      { tags   }\n * ];\n */\n\nconst payloadIn = msg.payload;\n\n/* Define field and tag names */\nconst measurementName = \"environment\";\nconst tempTopic = \"home/technicalRoom/outdoor/temperature\";\nconst humiTopic = \"home/technicalRoom/outdoor/humidity\";\nconst deviceTag = \"home/technicalRoom/outdoor\";\n\n// Helper function to safely extract the 'value' field and convert it to a float.\nfunction extractAndParse(topic) {\n    const data = payloadIn[topic];\n\n    // 1. Check if the object for the topic exists\n    if (!data || data.value === null || data.value === undefined) {\n        // If data is missing or value is null/undefined, return null\n        return null;\n    }\n\n    // 2. Access the nested 'value' key and attempt conversion\n    const value = data.value;\n    \n    // parseFloat is usually safe, but check for non-numeric input for robustness\n    if (typeof value === 'number') {\n        return value;\n    }\n    \n    const result = parseFloat(value);\n    \n    // Check if the result is NaN (Not a Number)\n    if (isNaN(result)) {\n        node.warn(`Warning: Could not parse numeric value for topic: ${topic}. Value was: ${value}`);\n        return null;\n    }\n    \n    return result;\n}\n\n// Structure for writing to InfluxDB\nmsg.measurement = measurementName;\nmsg.payload = [\n    {\n        // Correct access path: payloadIn[topic].value\n        temperature: extractAndParse(tempTopic),\n        humidity: extractAndParse(humiTopic)\n    },\n    {\n        device: deviceTag\n    }\n];\n\n// Log the final payload for debugging. Check the Node-RED debug tab.\n// node.warn(JSON.stringify(msg.payload));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 340,
        "wires": [
            [
                "ad355e814c5fd41f"
            ]
        ]
    },
    {
        "id": "ad355e814c5fd41f",
        "type": "influxdb out",
        "z": "af55de1cad2f4bbc",
        "influxdb": "1a463d669d42977d",
        "name": "InfluxDB iot_data 2",
        "measurement": "",
        "precision": "ms",
        "retentionPolicy": "one_month",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 990,
        "y": 340,
        "wires": [],
        "info": "Field 'measurment' is KEY to database. \r\nIn this case, the 'measurement' value is in msg paload:\r\n\r\ne.g.:\r\n[\r\n{\"temperature\":22.1,\"humidity\":70.8},\r\n{\"device\":\"home/thermometer/hall\"}\r\n]\r\n\r\ncode:\r\n\r\nmsg.measurement = measurementName;\r\nmsg.payload = [\r\n    {\r\n        // Correct access path: payloadIn[topic].value\r\n        temperature: extractAndParse(tempTopic),\r\n        humidity: extractAndParse(humTopic)\r\n    },\r\n    {\r\n        device: deviceTag\r\n    }\r\n];\r\n\r\n\r\ninflux\r\nUSE iot_data\r\nSELECT * FROM environment ORDER BY time DESC LIMIT 10\r\n\r\nwhere 'environment' is from msg.measurement"
    },
    {
        "id": "d8cada7c994c76a5",
        "type": "influxdb in",
        "z": "af55de1cad2f4bbc",
        "influxdb": "1a463d669d42977d",
        "name": "Tech.Tmpr DB 7day",
        "query": "SELECT mean(\"temperature\") \nFROM \"environment\" \nWHERE \"device\" = 'home/technicalRoom/indoor' \n  AND time > now() - 7d \nGROUP BY time(30m) \nfill(null) \ntz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 660,
        "y": 980,
        "wires": [
            [
                "d66b2c169c5c0efc"
            ]
        ]
    },
    {
        "id": "d66b2c169c5c0efc",
        "type": "function",
        "z": "af55de1cad2f4bbc",
        "name": "Tmpr IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"temperature\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n * {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":21.964823529411788},\n * {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":21.859259259259243},\n * {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":21.799594594594634},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Temperature\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":21.965},\n *      {\"x\":1762716600000,\"y\":21.859},\n *      {\"x\":1762718400000,\"y\":21.8},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload\nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Temperature\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Timestamp in mili-sec\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 980,
        "wires": [
            [
                "85488c9310aab5d0"
            ]
        ]
    },
    {
        "id": "85488c9310aab5d0",
        "type": "ui-chart",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "name": "Tech.Tmpr 7 days (DB)",
        "label": "Tech.Temperature [C] per 7 days (from DB)",
        "order": 11,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1170,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "c0838c91e52e1028",
        "type": "influxdb in",
        "z": "af55de1cad2f4bbc",
        "influxdb": "1a463d669d42977d",
        "name": "Tech.Humi DB 7day",
        "query": "SELECT mean(\"humidity\") \nFROM \"environment\" \nWHERE \"device\" = 'home/technicalRoom/indoor' \n  AND time > now() - 7d \nGROUP BY time(30m) \nfill(null) \ntz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 660,
        "y": 1060,
        "wires": [
            [
                "d65e78bca31ff186"
            ]
        ]
    },
    {
        "id": "d65e78bca31ff186",
        "type": "function",
        "z": "af55de1cad2f4bbc",
        "name": "Humi IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"humidity\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n *  {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n *  {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n *  {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":72.38141176470586},\n *  {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":72.39245791245794},\n *  {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":72.10246621621624},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Humidity\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":72.381},\n *      {\"x\":1762716600000,\"y\":72.392},\n *      {\"x\":1762718400000,\"y\":72.102},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload                                  \nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Humidity\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Časová značka musí byť v milisekundách\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName                      \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 1060,
        "wires": [
            [
                "7db7adf566d28ca7"
            ]
        ]
    },
    {
        "id": "7db7adf566d28ca7",
        "type": "ui-chart",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "name": "Tech.Humi 7 days (DB)",
        "label": "Tech.Humidity [%] per 7 days (from DB)",
        "order": 12,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1170,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "478e26bde1bb911e",
        "type": "inject",
        "z": "af55de1cad2f4bbc",
        "name": "Request to DB",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "360",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ReadDdata",
        "payloadType": "str",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "d8cada7c994c76a5",
                "c0838c91e52e1028",
                "11225f6eeddfb81b",
                "07058cd1016a8224"
            ]
        ],
        "info": "## Description: \r\nTrigger request to DB with 1min cycle\r\n\r\n## Note: \r\nmsg.payload = (String)\"ReadDdata\" - is not relevant, it is ignored by next node (DB)."
    },
    {
        "id": "11225f6eeddfb81b",
        "type": "influxdb in",
        "z": "af55de1cad2f4bbc",
        "influxdb": "1a463d669d42977d",
        "name": "Out.Tmpr DB 7day",
        "query": "SELECT mean(\"temperature\") \nFROM \"environment\" \nWHERE \"device\" = 'home/technicalRoom/outdoor' \n  AND time > now() - 7d \nGROUP BY time(30m) \nfill(null) \ntz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 650,
        "y": 820,
        "wires": [
            [
                "6749141714f9131a"
            ]
        ],
        "info": "Ak chcete oddeliť dáta a zobraziť priemernú teplotu len pre senzor v pristavbe, \r\nmusíte do dopytu pridať podmienku WHERE s identifikátorom zariadenia.\r\n\r\nTu je upravený príkaz:\r\nSQL\r\n\r\nSELECT mean(\"temperature\") \r\nFROM \"environment\" \r\nWHERE \"device\" = 'home/thermometer/pristavba' \r\n  AND time > now() - 3d \r\nGROUP BY time(20m) \r\nfill(null) \r\ntz('Europe/Bratislava')\r\n\r\nČo sa zmenilo?\r\n    -Pridal som podmienku \"device\" = 'home/thermometer/pristavba'.\r\n    -V InfluxDB sa táto podmienka spája s časovým rozsahom pomocou operátora AND.\r\n    -Dôležité je použiť jednoduché úvodzovky (') pre hodnotu tagu (názov zariadenia) \r\n    a dvojité úvodzovky (\") pre názvy polí a tagov (device, temperature), \r\n    ak obsahujú špeciálne znaky."
    },
    {
        "id": "6749141714f9131a",
        "type": "function",
        "z": "af55de1cad2f4bbc",
        "name": "Tmpr IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"temperature\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n * {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":21.964823529411788},\n * {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":21.859259259259243},\n * {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":21.799594594594634},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Temperature\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":21.965},\n *      {\"x\":1762716600000,\"y\":21.859},\n *      {\"x\":1762718400000,\"y\":21.8},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload\nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Temperature\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Timestamp in mili-sec\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 820,
        "wires": [
            [
                "682c14481786b34f"
            ]
        ]
    },
    {
        "id": "682c14481786b34f",
        "type": "ui-chart",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "name": "Out.Tmpr 7 days (DB)",
        "label": "Out.Temperature [C] per 7 days (from DB)",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1160,
        "y": 820,
        "wires": [
            []
        ]
    },
    {
        "id": "07058cd1016a8224",
        "type": "influxdb in",
        "z": "af55de1cad2f4bbc",
        "influxdb": "1a463d669d42977d",
        "name": "Out.Humi DB 7day",
        "query": "SELECT mean(\"humidity\") \nFROM \"environment\" \nWHERE \"device\" = 'home/technicalRoom/outdoor' \n  AND time > now() - 7d \nGROUP BY time(30m) \nfill(null) \ntz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 650,
        "y": 900,
        "wires": [
            [
                "34dc873e2649dd9d"
            ]
        ]
    },
    {
        "id": "34dc873e2649dd9d",
        "type": "function",
        "z": "af55de1cad2f4bbc",
        "name": "Humi IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"humidity\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n *  {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n *  {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n *  {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":72.38141176470586},\n *  {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":72.39245791245794},\n *  {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":72.10246621621624},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Humidity\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":72.381},\n *      {\"x\":1762716600000,\"y\":72.392},\n *      {\"x\":1762718400000,\"y\":72.102},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload                                  \nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Humidity\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Časová značka musí byť v milisekundách\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName                      \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 900,
        "wires": [
            [
                "8dad5a0a9e740b30"
            ]
        ]
    },
    {
        "id": "8dad5a0a9e740b30",
        "type": "ui-chart",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "name": "Out.Humi 7 days (DB)",
        "label": "Out.Humidity [%] per 7 days (from DB)",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1160,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "1f208b1f4206851c",
        "type": "mqtt in",
        "z": "af55de1cad2f4bbc",
        "name": "Technical Room InTmpr",
        "topic": "home/technicalRoom/indoor/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 440,
        "wires": [
            [
                "02d13e0f993cb5f5",
                "058bd0eddd41c637"
            ]
        ]
    },
    {
        "id": "02d13e0f993cb5f5",
        "type": "change",
        "z": "af55de1cad2f4bbc",
        "name": "TmprValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 440,
        "wires": [
            [
                "821032134ced5c2c",
                "085269227ccb0cd6",
                "9836651ed8e7be55"
            ]
        ]
    },
    {
        "id": "821032134ced5c2c",
        "type": "smooth",
        "z": "af55de1cad2f4bbc",
        "name": "60 to 1",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 650,
        "y": 500,
        "wires": [
            [
                "9c84e5e5bd442043"
            ]
        ]
    },
    {
        "id": "9c84e5e5bd442043",
        "type": "change",
        "z": "af55de1cad2f4bbc",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 500,
        "wires": [
            [
                "6d6e13e322feb4ea"
            ]
        ]
    },
    {
        "id": "6d6e13e322feb4ea",
        "type": "ui-chart",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "name": "TechIn.Tmpr 24 hours",
        "label": "Ttech [C] per 24 hours",
        "order": 9,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1140,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "085269227ccb0cd6",
        "type": "ui-text",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "order": 7,
        "width": "1",
        "height": "1",
        "name": "TechIn.Tmpr",
        "label": "Ttech [C]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1110,
        "y": 440,
        "wires": []
    },
    {
        "id": "8894592472a50241",
        "type": "mqtt in",
        "z": "af55de1cad2f4bbc",
        "name": "Technical Room InHumi",
        "topic": "home/technicalRoom/indoor/humidity",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "63c48d648315332b",
                "058bd0eddd41c637"
            ]
        ]
    },
    {
        "id": "63c48d648315332b",
        "type": "change",
        "z": "af55de1cad2f4bbc",
        "name": "HumiValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 430,
        "y": 560,
        "wires": [
            [
                "696fe0e1bba0b6c3",
                "cf826bdb0e6fde64",
                "5ec280c375355f75"
            ]
        ]
    },
    {
        "id": "696fe0e1bba0b6c3",
        "type": "ui-text",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "order": 8,
        "width": "1",
        "height": "1",
        "name": "TechIn.Humi",
        "label": "Htech [%]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1110,
        "y": 560,
        "wires": []
    },
    {
        "id": "cf826bdb0e6fde64",
        "type": "smooth",
        "z": "af55de1cad2f4bbc",
        "name": "60 to 1",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 650,
        "y": 620,
        "wires": [
            [
                "984897bcc9d4db1c"
            ]
        ]
    },
    {
        "id": "de4934d5478e639a",
        "type": "ui-chart",
        "z": "af55de1cad2f4bbc",
        "group": "65780af9cfdc3e55",
        "name": "TechIn.Humi 24 hours",
        "label": "Htech [%] per 24 hours",
        "order": 10,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1140,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "984897bcc9d4db1c",
        "type": "change",
        "z": "af55de1cad2f4bbc",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 620,
        "wires": [
            [
                "de4934d5478e639a"
            ]
        ]
    },
    {
        "id": "058bd0eddd41c637",
        "type": "join",
        "z": "af55de1cad2f4bbc",
        "name": "Joint T and H",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 460,
        "y": 680,
        "wires": [
            [
                "a647d2f252b7c78d"
            ]
        ]
    },
    {
        "id": "a647d2f252b7c78d",
        "type": "function",
        "z": "af55de1cad2f4bbc",
        "name": "MQTT to InfluxDB",
        "func": "/*\n * Input MQTT message format (msg.payload):\n * -----------------------------------------\n * {\n *   \"home/thermometer/temperature\":\n *      {\n *          \"value\":24.06, \n *          \"unit\":\"C\"\n *      },\n *   \"home/thermometer/humidity\":\n *      {\n *          \"value\":64.98,\n *          \"unit\":\"%\"\n *      }\n * }\n * \n * Output message format (InfluxDB):\n * -----------------------------------------\n * msg.measurement = measurementName;\n * msg.payload = \n * [\n *      { fields },\n *      { tags   }\n * ];\n */\n\nconst payloadIn = msg.payload;\n\n/* Define field and tag names */\nconst measurementName = \"environment\";\nconst tempTopic = \"home/technicalRoom/indoor/temperature\";\nconst humiTopic = \"home/technicalRoom/indoor/humidity\";\nconst deviceTag = \"home/technicalRoom/indoor\";\n\n// Helper function to safely extract the 'value' field and convert it to a float.\nfunction extractAndParse(topic) {\n    const data = payloadIn[topic];\n\n    // 1. Check if the object for the topic exists\n    if (!data || data.value === null || data.value === undefined) {\n        // If data is missing or value is null/undefined, return null\n        return null;\n    }\n\n    // 2. Access the nested 'value' key and attempt conversion\n    const value = data.value;\n    \n    // parseFloat is usually safe, but check for non-numeric input for robustness\n    if (typeof value === 'number') {\n        return value;\n    }\n    \n    const result = parseFloat(value);\n    \n    // Check if the result is NaN (Not a Number)\n    if (isNaN(result)) {\n        node.warn(`Warning: Could not parse numeric value for topic: ${topic}. Value was: ${value}`);\n        return null;\n    }\n    \n    return result;\n}\n\n// Structure for writing to InfluxDB\nmsg.measurement = measurementName;\nmsg.payload = [\n    {\n        // Correct access path: payloadIn[topic].value\n        temperature: extractAndParse(tempTopic),\n        humidity: extractAndParse(humiTopic)\n    },\n    {\n        device: deviceTag\n    }\n];\n\n// Log the final payload for debugging. Check the Node-RED debug tab.\n// node.warn(JSON.stringify(msg.payload));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 680,
        "wires": [
            [
                "637ec36232d6ae5e"
            ]
        ]
    },
    {
        "id": "637ec36232d6ae5e",
        "type": "influxdb out",
        "z": "af55de1cad2f4bbc",
        "influxdb": "1a463d669d42977d",
        "name": "InfluxDB iot_data 2",
        "measurement": "",
        "precision": "ms",
        "retentionPolicy": "one_month",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1010,
        "y": 680,
        "wires": [],
        "info": "Field 'measurment' is KEY to database. \r\nIn this case, the 'measurement' value is in msg paload:\r\n\r\ne.g.:\r\n[\r\n{\"temperature\":22.1,\"humidity\":70.8},\r\n{\"device\":\"home/thermometer/hall\"}\r\n]\r\n\r\ncode:\r\n\r\nmsg.measurement = measurementName;\r\nmsg.payload = [\r\n    {\r\n        // Correct access path: payloadIn[topic].value\r\n        temperature: extractAndParse(tempTopic),\r\n        humidity: extractAndParse(humTopic)\r\n    },\r\n    {\r\n        device: deviceTag\r\n    }\r\n];\r\n\r\n\r\ninflux\r\nUSE iot_data\r\nSELECT * FROM environment ORDER BY time DESC LIMIT 10\r\n\r\nwhere 'environment' is from msg.measurement"
    },
    {
        "id": "301ada571c81a4f3",
        "type": "ui-text",
        "z": "af55de1cad2f4bbc",
        "group": "0a3152a272d77c65",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "Summ.Out.Tmpr",
        "label": "Tout [C]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1220,
        "y": 80,
        "wires": []
    },
    {
        "id": "a418a4b871b79597",
        "type": "ui-text",
        "z": "af55de1cad2f4bbc",
        "group": "0a3152a272d77c65",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "Summ.Out.Humi",
        "label": "Hout [%]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1220,
        "y": 200,
        "wires": []
    },
    {
        "id": "9836651ed8e7be55",
        "type": "ui-text",
        "z": "af55de1cad2f4bbc",
        "group": "0a3152a272d77c65",
        "order": 5,
        "width": "1",
        "height": "1",
        "name": "Summ.TechIn.Tmpr",
        "label": "Ttec [C]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1270,
        "y": 420,
        "wires": []
    },
    {
        "id": "5ec280c375355f75",
        "type": "ui-text",
        "z": "af55de1cad2f4bbc",
        "group": "0a3152a272d77c65",
        "order": 6,
        "width": "1",
        "height": "1",
        "name": "Summ.TechIn.Humi",
        "label": "Htec [%]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1270,
        "y": 540,
        "wires": []
    },
    {
        "id": "55cc163ca54e6ddb",
        "type": "mqtt in",
        "z": "2315a25ba0acaef8",
        "name": "Extension Room Tmpr",
        "topic": "home/pristavba/izba2/temperature",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 80,
        "wires": [
            [
                "a21a25fc68d1203a",
                "64771054623f3a7f"
            ]
        ]
    },
    {
        "id": "a21a25fc68d1203a",
        "type": "change",
        "z": "2315a25ba0acaef8",
        "name": "TmprValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 80,
        "wires": [
            [
                "445e10145cebc9bf",
                "49997549d91381d2",
                "c452d7220816bff2"
            ]
        ]
    },
    {
        "id": "445e10145cebc9bf",
        "type": "smooth",
        "z": "2315a25ba0acaef8",
        "name": "60 to 1",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 670,
        "y": 140,
        "wires": [
            [
                "7f6c8f3f8020120e"
            ]
        ]
    },
    {
        "id": "7f6c8f3f8020120e",
        "type": "change",
        "z": "2315a25ba0acaef8",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 140,
        "wires": [
            [
                "16ad70c460ef782e"
            ]
        ]
    },
    {
        "id": "16ad70c460ef782e",
        "type": "ui-chart",
        "z": "2315a25ba0acaef8",
        "group": "1d84460e5bc444a5",
        "name": "Ext.Tmpr 24 hours",
        "label": "Text [C] per 24 hours",
        "order": 3,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "49997549d91381d2",
        "type": "ui-text",
        "z": "2315a25ba0acaef8",
        "group": "1d84460e5bc444a5",
        "order": 1,
        "width": "1",
        "height": "1",
        "name": "Ext.Tmpr",
        "label": "Text [C]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1120,
        "y": 80,
        "wires": []
    },
    {
        "id": "b16dbac31f050ce9",
        "type": "mqtt in",
        "z": "2315a25ba0acaef8",
        "name": "Extension Room Humi",
        "topic": "home/pristavba/izba2/humidity",
        "qos": "2",
        "datatype": "json",
        "broker": "0e745f397e5b7cec",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 200,
        "wires": [
            [
                "190e36b9ec914133",
                "64771054623f3a7f"
            ]
        ]
    },
    {
        "id": "190e36b9ec914133",
        "type": "change",
        "z": "2315a25ba0acaef8",
        "name": "HumiValue",
        "rules": [
            {
                "t": "move",
                "p": "payload.value",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 200,
        "wires": [
            [
                "e87bf7890a401301",
                "23d0ee4339f94316",
                "6c1d06226007c1a2"
            ]
        ]
    },
    {
        "id": "e87bf7890a401301",
        "type": "ui-text",
        "z": "2315a25ba0acaef8",
        "group": "1d84460e5bc444a5",
        "order": 2,
        "width": "1",
        "height": "1",
        "name": "Ext.Humi",
        "label": "Hext [%]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1120,
        "y": 200,
        "wires": []
    },
    {
        "id": "23d0ee4339f94316",
        "type": "smooth",
        "z": "2315a25ba0acaef8",
        "name": "60 to 1",
        "property": "payload",
        "action": "mean",
        "count": "60",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 670,
        "y": 260,
        "wires": [
            [
                "951013d87ded8b4e"
            ]
        ]
    },
    {
        "id": "85d9bf489ae28e09",
        "type": "ui-chart",
        "z": "2315a25ba0acaef8",
        "group": "1d84460e5bc444a5",
        "name": "Ext.Humi 24 hours",
        "label": "Hext [%] per 24 hours",
        "order": 4,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "24",
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": "6",
        "height": "6",
        "className": "",
        "interpolation": "linear",
        "x": 1150,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "951013d87ded8b4e",
        "type": "change",
        "z": "2315a25ba0acaef8",
        "name": "RoundTo2Decimal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$round(payload, 2)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 890,
        "y": 260,
        "wires": [
            [
                "85d9bf489ae28e09"
            ]
        ]
    },
    {
        "id": "64771054623f3a7f",
        "type": "join",
        "z": "2315a25ba0acaef8",
        "name": "Joint T and H",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 480,
        "y": 320,
        "wires": [
            [
                "09cf0dc5e000682c"
            ]
        ]
    },
    {
        "id": "09cf0dc5e000682c",
        "type": "function",
        "z": "2315a25ba0acaef8",
        "name": "MQTT to InfluxDB",
        "func": "/*\n * Input MQTT message format (msg.payload):\n * -----------------------------------------\n * {\n *   \"home/thermometer/temperature\":\n *      {\n *          \"value\":24.06, \n *          \"unit\":\"C\"\n *      },\n *   \"home/thermometer/humidity\":\n *      {\n *          \"value\":64.98,\n *          \"unit\":\"%\"\n *      }\n * }\n * \n * Output message format (InfluxDB):\n * -----------------------------------------\n * msg.measurement = measurementName;\n * msg.payload = \n * [\n *      { fields },\n *      { tags   }\n * ];\n */\n\nconst payloadIn = msg.payload;\n\n/* Define field and tag names */\nconst measurementName = \"environment\";\nconst tempTopic = \"home/pristavba/izba2/temperature\";\nconst humiTopic = \"home/pristavba/izba2/humidity\";\nconst deviceTag = \"home/extension/room\";\n\n// Helper function to safely extract the 'value' field and convert it to a float.\nfunction extractAndParse(topic) {\n    const data = payloadIn[topic];\n\n    // 1. Check if the object for the topic exists\n    if (!data || data.value === null || data.value === undefined) {\n        // If data is missing or value is null/undefined, return null\n        return null;\n    }\n\n    // 2. Access the nested 'value' key and attempt conversion\n    const value = data.value;\n    \n    // parseFloat is usually safe, but check for non-numeric input for robustness\n    if (typeof value === 'number') {\n        return value;\n    }\n    \n    const result = parseFloat(value);\n    \n    // Check if the result is NaN (Not a Number)\n    if (isNaN(result)) {\n        node.warn(`Warning: Could not parse numeric value for topic: ${topic}. Value was: ${value}`);\n        return null;\n    }\n    \n    return result;\n}\n\n// Structure for writing to InfluxDB\nmsg.measurement = measurementName;\nmsg.payload = [\n    {\n        // Correct access path: payloadIn[topic].value\n        temperature: extractAndParse(tempTopic),\n        humidity: extractAndParse(humiTopic)\n    },\n    {\n        device: deviceTag\n    }\n];\n\n// Log the final payload for debugging. Check the Node-RED debug tab.\n// node.warn(JSON.stringify(msg.payload));\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 320,
        "wires": [
            [
                "9082a5fb455ffb8f"
            ]
        ]
    },
    {
        "id": "9082a5fb455ffb8f",
        "type": "influxdb out",
        "z": "2315a25ba0acaef8",
        "influxdb": "1a463d669d42977d",
        "name": "InfluxDB iot_data 2",
        "measurement": "",
        "precision": "ms",
        "retentionPolicy": "one_month",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "organisation",
        "bucket": "bucket",
        "x": 1030,
        "y": 320,
        "wires": [],
        "info": "Field 'measurment' is KEY to database. \r\nIn this case, the 'measurement' value is in msg paload:\r\n\r\ne.g.:\r\n[\r\n{\"temperature\":22.1,\"humidity\":70.8},\r\n{\"device\":\"home/thermometer/hall\"}\r\n]\r\n\r\ncode:\r\n\r\nmsg.measurement = measurementName;\r\nmsg.payload = [\r\n    {\r\n        // Correct access path: payloadIn[topic].value\r\n        temperature: extractAndParse(tempTopic),\r\n        humidity: extractAndParse(humTopic)\r\n    },\r\n    {\r\n        device: deviceTag\r\n    }\r\n];\r\n\r\n\r\ninflux\r\nUSE iot_data\r\nSELECT * FROM environment ORDER BY time DESC LIMIT 10\r\n\r\nwhere 'environment' is from msg.measurement"
    },
    {
        "id": "c452d7220816bff2",
        "type": "ui-text",
        "z": "2315a25ba0acaef8",
        "group": "0a3152a272d77c65",
        "order": 7,
        "width": "1",
        "height": "1",
        "name": "Summ.Ext.Tmpr",
        "label": "Text [C]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1240,
        "y": 60,
        "wires": []
    },
    {
        "id": "6c1d06226007c1a2",
        "type": "ui-text",
        "z": "2315a25ba0acaef8",
        "group": "0a3152a272d77c65",
        "order": 8,
        "width": "1",
        "height": "1",
        "name": "Summ.Ext.Humi",
        "label": "Hext [%]:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "wrapText": false,
        "className": "",
        "value": "payload",
        "valueType": "msg",
        "x": 1240,
        "y": 180,
        "wires": []
    },
    {
        "id": "574c5da90d573922",
        "type": "inject",
        "z": "2315a25ba0acaef8",
        "name": "Request to DB",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "420",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ReadDdata",
        "payloadType": "str",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "a2deeaa8518c9d52",
                "facba8f7dc703e3a"
            ]
        ],
        "info": "## Description: \r\nTrigger request to DB with 1min cycle\r\n\r\n## Note: \r\nmsg.payload = (String)\"ReadDdata\" - is not relevant, it is ignored by next node (DB)."
    },
    {
        "id": "a2deeaa8518c9d52",
        "type": "influxdb in",
        "z": "2315a25ba0acaef8",
        "influxdb": "1a463d669d42977d",
        "name": "Ext.Tmpr DB 7day",
        "query": "SELECT mean(\"temperature\") \nFROM \"environment\" \nWHERE \"device\" = 'home/extension/room' \n  AND time > now() - 7d \nGROUP BY time(30m) \nfill(null) \ntz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "d9f6791cb973ad91"
            ]
        ],
        "info": "Ak chcete oddeliť dáta a zobraziť priemernú teplotu len pre senzor v pristavbe, \r\nmusíte do dopytu pridať podmienku WHERE s identifikátorom zariadenia.\r\n\r\nTu je upravený príkaz:\r\nSQL\r\n\r\nSELECT mean(\"temperature\") \r\nFROM \"environment\" \r\nWHERE \"device\" = 'home/thermometer/pristavba' \r\n  AND time > now() - 3d \r\nGROUP BY time(20m) \r\nfill(null) \r\ntz('Europe/Bratislava')\r\n\r\nČo sa zmenilo?\r\n    -Pridal som podmienku \"device\" = 'home/thermometer/pristavba'.\r\n    -V InfluxDB sa táto podmienka spája s časovým rozsahom pomocou operátora AND.\r\n    -Dôležité je použiť jednoduché úvodzovky (') pre hodnotu tagu (názov zariadenia) \r\n    a dvojité úvodzovky (\") pre názvy polí a tagov (device, temperature), \r\n    ak obsahujú špeciálne znaky."
    },
    {
        "id": "d9f6791cb973ad91",
        "type": "function",
        "z": "2315a25ba0acaef8",
        "name": "Tmpr IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"temperature\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n * {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n * {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":21.964823529411788},\n * {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":21.859259259259243},\n * {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":21.799594594594634},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Temperature\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":21.965},\n *      {\"x\":1762716600000,\"y\":21.859},\n *      {\"x\":1762718400000,\"y\":21.8},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload\nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Temperature\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Timestamp in mili-sec\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 460,
        "wires": [
            [
                "6817a2603dd1e120"
            ]
        ]
    },
    {
        "id": "6817a2603dd1e120",
        "type": "ui-chart",
        "z": "2315a25ba0acaef8",
        "group": "1d84460e5bc444a5",
        "name": "Ext.Tmpr 7 days (DB)",
        "label": "Ext.Temperature [C] per 7 days (from DB)",
        "order": 5,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1140,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "facba8f7dc703e3a",
        "type": "influxdb in",
        "z": "2315a25ba0acaef8",
        "influxdb": "1a463d669d42977d",
        "name": "Ext.Humi DB 7day",
        "query": "SELECT mean(\"humidity\") \nFROM \"environment\" \nWHERE \"device\" = 'home/extension/room' \n  AND time > now() - 7d \nGROUP BY time(30m) \nfill(null) \ntz('Europe/Bratislava')",
        "rawOutput": false,
        "precision": "",
        "retentionPolicy": "",
        "org": "organisation",
        "x": 630,
        "y": 540,
        "wires": [
            [
                "411d88305e3aaf18"
            ]
        ]
    },
    {
        "id": "411d88305e3aaf18",
        "type": "function",
        "z": "2315a25ba0acaef8",
        "name": "Humi IDB to Chart",
        "func": "/*\n * Input Influx DB message format:\n * Based on: SELECT mean(\"humidity\") FROM \"environment\" WHERE time > now() - 7d GROUP BY time(30m) fill(null) tz('Europe/Bratislava')\n * --------------------------------------------------------------\n * [ ...\n *  {\"time\":\"2025-11-09T18:00:00.000Z\",\"mean\":null},\n *  {\"time\":\"2025-11-09T18:30:00.000Z\",\"mean\":null},\n *  {\"time\":\"2025-11-09T19:00:00.000Z\",\"mean\":72.38141176470586},\n *  {\"time\":\"2025-11-09T19:30:00.000Z\",\"mean\":72.39245791245794},\n *  {\"time\":\"2025-11-09T20:00:00.000Z\",\"mean\":72.10246621621624},\n *   ... ]\n * \n * Output data format for Chart Node:\n * --------------------------------------------------------------\n * msg.topic = \"Humidity\"\n * msg.payload = \n * [\n *      {\"x\":1762714800000,\"y\":72.381},\n *      {\"x\":1762716600000,\"y\":72.392},\n *      {\"x\":1762718400000,\"y\":72.102},\n *      ...\n * ]\n * */\n\n// Array of objects in msg.payload                                  \nconst data = msg.payload;\n\n// Name of series for chart (for legend)\nconst seriesName = \"Humidity\"; // 'Show Legend' must be enabled on Chart Node\n\n// Data conversion to output format:\nconst chartData = data\n    // 1. Filtration - remove data points with 'null' value\n    // (to avoid empty space in graph-line of the Chart node)\n    .filter(item => item.mean !== null && item.mean !== undefined)\n    \n    // 2. Mapping\n    .map(item => {\n        // Časová značka musí byť v milisekundách\n        const timestamp_ms = new Date(item.time).getTime();\n        \n        // Rounding the value of 'mean' to 3 decimal places\n        const roundedMean = parseFloat(item.mean.toFixed(3)); \n\n        // Creating an object for a chart\n        return {\n            //\"series\" : seriesName, - instead the 'msg.topic' is used\n            \"x\": timestamp_ms,\n            \"y\": roundedMean \n        };\n    });\n\n// Final object for Chart node\nmsg.payload = chartData\nmsg.topic = seriesName                      \n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 870,
        "y": 540,
        "wires": [
            [
                "28742a6434233b07"
            ]
        ]
    },
    {
        "id": "28742a6434233b07",
        "type": "ui-chart",
        "z": "2315a25ba0acaef8",
        "group": "1d84460e5bc444a5",
        "name": "Ext.Humi 7 days (DB)",
        "label": "Ext.Humidity [%] per 7 days (from DB)",
        "order": 6,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "",
        "xAxisProperty": "x",
        "xAxisPropertyType": "property",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "",
        "yAxisProperty": "y",
        "yAxisPropertyType": "property",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "replace",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": "7",
        "removeOlderUnit": "86400",
        "removeOlderPoints": "",
        "colors": [
            "#ff0000",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1140,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "079d54b6a74334b8",
        "type": "global-config",
        "env": [],
        "modules": {
            "@flowfuse/node-red-dashboard": "1.29.0",
            "node-red-contrib-influxdb": "0.7.0",
            "node-red-node-smooth": "0.1.2"
        }
    }
]